 .navbar-nav{
          float:right
      }
        
        #interim{
            height:auto;
            white-space:;
            overflow-y:hidden;
            overflow-x:scroll;
        }
    
          body {
  font-family: 'Signifer-Light', Arial, sans-serif;
}

span {
  font-family: 'Sohne-Bold', Arial, sans-serif;}
         *{ color:white;
          box-sizing:border-box
          }
          body,html{
              padding:0;
              margin:0;
              width:100vw;
              color:white;
          }
       
        
   
     iconify-icon{
     margin:2px;
         font-size:10vw;
         color:white;
         }
         p{
             text-align:center
         }
         
     
          h1{
              color:white
          }
          .body{
          position:;
        top:0; left:0;right:0;bottom:0;
         height:100vh;
         max-height:100vh;
              overflow:hidden;
              height:100%;
              width:100%;
          }
         .innerBody{
        border-radius:0;
         top:;
         width:100vw;
         overflow-x:hidden;
             overflow-y:scroll;
             height:75vh;
             background-color:;
         } 
         
   .settings{
       display:none;
       position:fixed;
       width:100%;
       background-color:black;
   }
          .bottom-div{
          overflow:scroll;
          bottom:0;
          position:fixed;
          bottom:0;
          
          }
          .chat-bubble {
  display:inline;
 /* background-color:rgb(68, 60, 80);
  padding: 10px;
  border-radius:15px 15px 0px 15px;
  margin: 5px;
  clear: both;
  float:right;
  */
}
 #chatContainer{
padding-left:3vw;
padding-right:2vw;
 width:100vw;
 display:block;
 padding-bottom:30px;
   color:white;
  height: auto;
   
   }
   
   .bottom-div{
   border-radius:3vw;
       
       border:1px solid gray;
           position:relative;
      } 
   
   .ls{
   border-top:5px solid black;
    ;
   padding:1px;
       position:fixed;
       bottom:0;
       overflow:scroll;
   }
   
   .us{
   
       background-color:;
       padding:5px;
       border-bottom:2px solid gray;
   }
     
