 .navbar-nav{
          float:right
      }
        
        #interim{
            height:auto;
            white-space:;
            overflow-y:hidden;
            overflow-x:scroll;
        }
    
          body, #chatContainer, .chatBubble {
  font-family: 'Signifer-Light', Arial, sans-serif;
}

span {
  font-family: 'Sohne-Bold', Arial, sans-serif;}
         *{ 
          box-sizing:border-box
          }
          body,html{
              padding:0;
              margin:0;
              width:100vw;
              color:white;
          }
       
        #status{
            color:green;
            font-weight:500;
        }
   #btns{
       display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
         
         height: 10vh;  

       position:fixed;
       bottom:30vh;
       right:0;
       background-color:transparent;
       margin:3px;
       border:1.2px double white;
       border-radius:4px;
       height:auto;
       padding:0px;
       text-align:center;
       z-index:4;
   }
     iconify-icon{
     margin:2px;
         font-size:10vw;
         color:#ffffff;
       
         }
         iconify-icon[icon="gala:settings"]{
             color:white;
         }
         p{
             text-align:center
         }
         
     
          h1{
              color:#7f7;
          }
          .body{
          position:;
        top:0; left:0;right:0;bottom:0;
         height:100vh;
         min-height:100vh;
              overflow:hidden;
              height:100%;
              width:100%;
          }
         .innerBody{
        border-radius:0;
         top:;
         width:100vw;
         overflow-x:hidden;
             overflow-y:scroll;
             height:70vh;
            
             background-color:#b4b4b431    ;
         } 
         
         .animated-icon {
          animation: fadeOut 1s ease forwards;
           } 
          @keyframes fadeOut { 
          0% {
           opacity: 1;
           display:inline-block;
           
            }
             100% {
              opacity: 0;
               display: none; 
               }
                }
         
   .settings{
       display:none;
       position:fixed;
       width:100%;
       background-color:black;
       padding:10px;
       z-index:5;
   }
          .bottom-div{
          overflow:scroll;
          bottom:0;
          
          bottom:0;
          
          }
          .chat-bubble {
  display:inline;
  color:#39002e;
 /* background-color:rgb(68, 60, 80);
  padding: 10px;
  border-radius:15px 15px 0px 15px;
  margin: 5px;
  clear: both;
  float:right;
  */
}
 #chatContainer{
 width:90vw;
 display:block;
 padding-bottom:30px;
   overflow:scroll;
  height: 80vw;
   position:relative;
   
   }
   
   .bottom-div{
   background-color:#6b807b22;
   border-radius:3vw;
       border:1px double white;
     /*  border:1px solid gray;*/
           position:relative;
      } 
   
   .ls{
   border-top:5px solid black;
    height:40vw;
   padding:1px;
      border-top:3px solid gray;
       bottom:0;
       overflow:;
      
   }
   ls *{
       width:95vw;
       
   }
   .us{
   
       background-color:;
       padding:5px;
       border-bottom:2px solid gray;
   }
   .ls > p{
       width:98vw;
       
   }
   
@keyframes myAnimation {
      0% { 
      
       
      color:red;
      border-left:50vw solid transparent;
     
      
      }
      100% { 
      opacity:1
      
       }
      
    }
     
#start{
 
    z-index:5;
    
    padding:1px;
    
      animation: myAnimation 0.5s linear 4 forwards;
    
}


    
/*.jst-border{

    border:1px solid white;
 
    padding:1vh;
}*/
